html {
  scroll-behavior: smooth;
}

header {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Literata', serif;
  text-transform: uppercase;
  height: 100vh;
}

.nav-wrapper {
  height: 57px;
  z-index: 10000000;
  width: 100%;
  position: fixed;
}

.nav {
  list-style-type: none;
  background-color: #324c72;
  margin: 0;
  padding: 14px;
  overflow: auto;
  border-bottom: solid #F5F0F6 1px;
  z-index: 9999;
}

.nav__title {
  float: left;
}

@media screen and (min-width: 575px) {
  .nav__call {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .nav__mail {
    visibility: hidden;
    display: none;
  }
}

.nav__link {
  float: right;
}

@media screen and (max-width: 575px) {
  .nav__link {
    display: none;
  }
}

.nav__link--item {
  color: #F5F0F6;
  padding: 0 16px;
  text-decoration: none;
  border-radius: 8%;
}

.nav__link--item:hover {
  background-color: #F5F0F6;
  color: #324c72;
}

.nav__dropdown {
  margin-right: 3%;
  float: right;
  overflow: hidden;
}

.nav__dropdown .nav__dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 0 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav__dropbtn {
  cursor: pointer;
}

.nav__dropbtn:hover {
  background-color: #F5F0F6;
  color: #324c72;
  border-radius: 8%;
}

@media screen and (min-width: 575px) {
  .nav__dropbtn {
    visibility: hidden;
    display: none;
  }
}

.nav__dropbtn--content {
  display: none;
  position: absolute;
  min-width: 0px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media screen and (min-width: 575px) {
  .nav__dropbtn--content {
    visibility: hidden;
  }
}

.nav__dropbtn--content a {
  float: none;
  color: #324c72;
  background-color: #F5F0F6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav__dropbtn--content a:hover {
  background-color: #324c72;
  color: #F5F0F6;
}

.nav__dropdown:hover .nav__dropbtn--content {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.sticky + .content {
  padding-top: 102px;
}

.slideshow {
  margin: 0;
  padding: 0;
}

.slideshow,
.slideshow:after {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  list-style-type: none;
  padding-top: 57px;
}

.bull {
  color: #324c72;
}

.slideshow__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
          animation: imageAnimation 24s linear infinite 0s;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.slideshow__title--container {
  z-index: 1000;
  position: absolute;
  bottom: 20%;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 18s linear infinite 0s;
          animation: titleAnimation 18s linear infinite 0s;
}

.slideshow__title--container h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 110px;
  padding: 0;
  line-height: 200px;
  z-index: 10001;
}

@media screen and (max-width: 1100px) {
  .slideshow__title--container h3 {
    font-size: 100px;
  }
}

@media screen and (max-width: 768px) {
  .slideshow__title--container h3 {
    font-size: 80px;
  }
}

@media screen and (max-width: 576px) {
  .slideshow__title--container h3 {
    font-size: 55px;
  }
}

.slideshow li:nth-child(1) span {
  background-image: url(images/violin.jpg);
}

.slideshow li:nth-child(2) span {
  background-image: url(images/img_piano_lesson.jpg);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background-image: url(images/img_guitar_lesson.jpg);
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
  background-image: url(images/img_trumpet_lesson.jpg);
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  6% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  12% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  6% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  12% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
}

@-webkit-keyframes titleAnimation {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  6% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  6% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.no-cssanimations .slideshow li span {
  opacity: 1;
}

.content {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcf8e8;
  background-image: url("https://transparenttextures.com/patterns/white-brushed.png");
}

.content h2 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Literata', serif;
  text-transform: uppercase;
}

.services {
  background-color: beige;
  border-top: solid black 3px;
  padding: 63px 5%;
}

.services__para {
  margin-bottom: 40px;
  color: #385f71;
}

.services h2 {
  color: black;
  text-align: center;
  margin-top: 0;
}

.services__link:visited {
  color: #385f71;
}

.services__link:hover {
  color: #d7b377;
}

.services__:focus {
  color: #d7b377;
}

.about {
  border-top: solid black 3px;
  background-color: #385f71;
  padding: 63px 5%;
  color: #f2f2f2;
}

.about h2 {
  color: #d7b377;
  text-align: center;
}

.contact {
  padding: 63px 5%;
  overflow: auto;
  text-align: center;
  overflow: auto;
}

.contact h2 {
  color: #324c72;
  text-align: center;
}

.contact__container {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .contact__container {
    float: right;
    width: 40%;
  }
}

#thanks {
  display: none;
  height: 50vh;
  margin-top: 60px;
  color: #8f754f;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 85%;
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .form {
    width: 75%;
    display: inline-block;
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color: #324c72;
  color: #F5F0F6;
  font-size: 16px;
  padding: 12px 20px;
  border: solid 1px #F5F0F6;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8f754f;
  color: #324c72;
  border: solid 1px #324c72;
}

.copyright {
  border-top: solid #d7b377 1px;
  text-align: center;
  color: #F5F0F6;
  background-color: #324c72;
  font-family: sans-serif;
  margin-bottom: 0px;
  padding: 12px;
}

@media screen and (min-width: 768px) {
  .contact__container--float {
    float: right;
    width: 60%;
  }
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */