// VARIABLES
$xs: 575px;
$sm: 576px;
$med: 768px;
$lg: 992px;
$dark-blue: #324c72;
$dark-green: #385f71;
$white: #F5F0F6;
$tan: #d7b377;
$brown: #8f754f;

// MIXINS

// @mixin title {
//     color: $base-dark;
//     font-family: sans-serif;
//     text-align: center;
// }


@mixin afterLine {
    content: "";
    display: inline-block;
    height: 2.5px;
    background: $white;
    position: absolute;
    left: 0;
    transform: translate(0, 4px);
    opacity: 0;
    transition: opacity 0.2s, transform 0.3s;
    padding: 0;
    border-radius: 30%;
}
@mixin afterLineHover {
    transform: translate(0, 0);
    opacity: 1; 
}

@mixin fullsizeImage {
    display: block;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

// NAVIGATION MENU

header {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Literata', serif;
    text-transform: uppercase;
    height: 100%;
}


//STICKY NAVBAR
.nav-wrapper {
    z-index: 10000000;
    width: 100%;
    position: fixed;
    top: 0;
    height: 57px;
    
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
}

.nav {    
    list-style-type: none;
    background-color: $dark-blue;
    margin: 0;
    padding: 14px;
    overflow: auto;
    box-shadow: 0 2px 1px 0 gray;    
    &__title {
        float: left;   
        // &:after {
        // @include afterLine;
        //     width: 17%;
        //     margin-left: 4.5%;
        //     bottom: 17px;
        //     border-radius: 80%
        // }
        // &:hover {
        //     &:after {
        //         @include afterLineHover;
        //     }
        // }
    }
    &__call {
        @media screen and (min-width: $xs) {
            // visibility: hidden;
            display: none !important;
        } 
    }
    &__mail {
        @media screen and (min-width: $xs) {
            // visibility: hidden;
            display: none !important;
        } 
    }
    
    &__link--item-container {
        position: relative;
    }

    &__link {
        float: right;
        @media screen and (max-width: $xs) {
            display: none;
            }
        &--item {
            position: relative;
            color: $white;
            margin: 0 11px;
            text-decoration: none;
            border-radius: 8%;
            top: 50%;
            &:after {
                @include afterLine;
                width: 100%;
                bottom: -4px;
            }
            &:hover {
                cursor: pointer;
                &:after {
                    @include afterLineHover;
                }
            }
        }
    }

    &__dropdown {
        margin-right: 3%;
        float: left;
        overflow: hidden;
    }
    &__dropdown &__dropbtn {
        font-size: 16px; 
        border: none;
        outline: none;
        color: white;
        padding: 0 0 0 0px;
        background-color: inherit;
        font-family: inherit;
        margin: 0 0 0 16px;
    }
    &__dropbtn  {
        cursor: pointer;
        &:hover {
        background-color: $white;
        color: $dark-blue;
        border-radius: 8%;
        }
        @media screen and (min-width: $xs) {
            visibility: hidden;
            display: none !important;
        } 
        &--about:after {
            @include afterLine;
            width: 60%;
            margin-left: 21px;
            bottom: 5px;
        }
        &--cont:after {
            @include afterLine;
            width: 60%;
            margin-left: 21px ;
            bottom: 5px;
        }
        &--serv:after {
            @include afterLine;
            width: 60%;
            margin-left: 21px;
            bottom: 5px;
        }
        &--content {         
            display: none;   
            position: absolute;            
            min-width: 0px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 0;
            margin: 0;
            @media screen and (min-width: $xs) {
                visibility: hidden;
            }
            & li {
                margin: 0;
                padding: 0;
            }
            & a {
                float: none;
                color: $dark-blue;
                background-color: $white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                position: relative;
                &:hover {
                    &:after {
                    transform: translate(0, 0);
                    opacity: 1; 
                    }
                }
                &:hover {
                    background-color: $dark-blue;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }
}
.nav__dropbtn--about:after {
    width: 40%;
}



// new slideshow //

html, body {
    position: relative;
    height: 100%;
  }
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    padding-top: 56px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-size: cover;
    &::before {
        content: " ";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
    }
   
    &__image1 {
        background-image: url(../images/violin.jpg);
    }
    &__image2 {
        background-image: url(../images/img_piano_lesson.jpg);
    }
    &__image3 {
        background-image: url(../images/img_guitar_lesson.jpg);
    }
    &__image4 {
        background-image: url(../images/img_trumpet_lesson.jpg);
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    &__content {
            position: absolute;
            bottom: 22%;
            left: 9%;
            display: block;
            font-size: 40px;
            box-sizing: border-box;
            color: $white;
            z-index: 3;
            @media screen and (max-width: $xs) {
                font-size: 30px;
                position: relative;
                left: 1%;
                bottom: 6%;
            }
            @media screen and (min-width: $lg) {
                font-size: 60px;
            }
            &--para {
                font-size: 16px;
                color: $white;
                @media screen and (max-width: $xs) {
                    font-size: 16px;
                }
                &::before {
                    content: ' ';
                    background: red;
                    position: absolute;
                    height: 3px;
                    z-index: 8;
                    width: 40%;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    bottom: 29px;
                    @media screen and (max-width: $lg) {
                        height: 2px;
                        bottom: 25px;
                    }
                    @media screen and (max-width: $xs) {
                        height: 2px;
                        bottom: 23px;
                    }
                }
            }
    }
}

// color changes dont work because it is a URL image
.swiper-pagination {

}

.swiper-button-next {
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
   background-image: none;
   height: 25px;
   width: 25px;
}
      
.swiper-button-prev {
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135);
   background-image: none;
   height: 25px;
   width: 25px;
}

.swiper-pagination-bullet-active {
    background: $white;
    opacity: 1 !important; 
}

.swiper-pagination-bullet {
    opacity: .3;
}

// ---- Content container ---- //

.content {    
    
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(252, 248, 232);
    background-image: url("https://transparenttextures.com/patterns/white-brushed.png");
    & h2 {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Literata', serif;
        text-transform: uppercase;
        font-size: 30px;
    }
}


// ------ Services------ //

.services {   
    background-color: beige;
    border-top: solid black 3px;
    padding: 63px 5%;
    overflow: auto;
    &__para {
        margin-bottom: 40px;
        color: $dark-green;
    }
    & h2 {
        color: black;
        text-align: center;
        margin-top: 0;
    }
    
    &__link:visited {
        color: $dark-green;
    }
    &__link:hover {
        color: $tan;
    }
    &__:focus {
        color: $tan;
    }
    &__content {
        width: 50%;
        float: left;
        @media screen and (max-width: $lg) {
        width: 100%;
        float: none;
        }
    }
    &__image {
        margin-top: 30px;
        @media screen and (max-width: $lg) {
        width: 40%;
        float: right;
        height: 100%;
        }
        @media screen and (min-width: $med) {
        width: 45%;
        float: right; 
        height: 100%;
        }
        @media screen and (max-width: $lg) {
        width: 100%;
        margin-top: 20px;
        }
    }
}

// ------ about ------ // 
.about {
    border-top: solid black 3px;
    background-color: $dark-green;
    padding: 63px 5%;
    color: #f2f2f2;
    overflow: auto;
    & h2 {
        color: $tan;
        text-align: center;
    }
    &__content {
        width: 50%;
        float: left;
        @media screen and (max-width: $lg) {
        width: 100%;
        float: none;
        }
    }
    &__image {
        margin-top: 30px;
        @media screen and (max-width: $lg) {
        width: 40%;
        float: right;
        height: 100%;
        }
        @media screen and (min-width: $med) {
        width: 45%;
        float: right; 
        height: 100%;
        }
        @media screen and (max-width: $lg) {
        width: 100%;
        margin-top: 20px;
        }
    }
}

// ------ contact ------ //

.contact {
    padding: 63px 5%;
    overflow: auto;
    text-align: center;
    overflow: auto;
    & h2 {
        color: $dark-blue;
        text-align: center;
        margin-bottom: 36px;
    }
    &__address {
        text-align: left;
        &--email {
            margin-top: 20px;
        }
        &--phone {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &--link {
            color: black;

        }
    }
    &__container {
        text-align: left;
        @media screen and (min-width: $med) {
            float: right;
            width: 35%;
        }
    }
}

#thanks {
    display: none;
    height: 50vh;
    margin-top: 60px;
    color: $brown;
    padding-top: 100px;
}

// FORM
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
        @media screen and (min-width: $med) {
            width: 85%;
            display: inline-block;
        }
        @media screen and (min-width: $lg) {
            width: 75%;
            display: inline-block;
        }
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
  }
  input[type=button] {
    background-color: $dark-blue;
    color: $white;
    font-size: 16px;
    padding: 12px 20px;
    border: solid 1px $white;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: $brown;
    color: $dark-blue;
    border: solid 1px $dark-blue;
  }
  .submit-wrapper {
      text-align: center;
  }
//   .mapouter {}


.copyright {
    border-top: solid $tan 1px;
    text-align: center;
    background-color: $dark-blue;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-top: 0;
    padding: 12px;
    &__link {
        color: $white;
        text-decoration: none;
    }
}
.contact__container--float {
    @media screen and (min-width: $med) {
        float: right;
        width: 65%;
    }
}

// .contact__map {
//     position:relative;
//     text-align:center;
//     height:500px;
//     width:600px;
// }

// .gmap_canvas {
//     overflow:hidden;
//     background:none!important;
//     height:500px;
//     width:600px;
// }


// ------  Content  ------ //
body {
    margin: 0;
}








// &--serv:after {
//     @include afterLine;
// }
// &--serv:hover {
//     &:after {
//         transform: translate(0, 0);
//         opacity: 1; 
//     }
// }
// &--about:after {
//     @include afterLine;
// }
// &--about:hover {
//     &:after {
//         transform: translate(0, 0);
//         opacity: 1; 
//     }
// }
// &--cont:after {
//     @include afterLine;
// }
// &--cont:hover {
//     &:after {
//         transform: translate(0, 0);
//         opacity: 1; 
//     }
// }


// &:after {
//     content: "";
//     display: inline-block;
//     width: 100%;
//     height: 3px;
//     background: tomato;
//     position: absolute;
//     left: 0;
//     bottom: -3px;
//     transform: translate(0, 4px);
//     opacity: 0;
//     transition: opacity 0.2s, transform 0.3s;
//   }
//   &:hover {
//     &:after {
//       transform: translate(0, 0);
//       opacity: 1; 
//     }
// }